{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in object_list %}
    <li>{{ student.name }} {{ student.group }}
        {% for obj_teacher in student.teacher.all %}<p>{{ obj_teacher.name }} ({{ obj_teacher.subject }})</p>
        {% endfor %}
  {% endfor %}


  </ul>
</div>
{% endblock %}
