{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            {# Здесь должен быть раздел с сортировкой #}
            <p>Сортировать по
            {% for key, value in sort_links.items%}
                <a href="{{ value }}">{{ key }}</a>
            {% endfor %}</p>
        </div>

        <div class="content">
            {# Здесь должен отображаться каталог с телефонами #}
            <div class="container">
                        {% for phone in phones_list%}
                            {% if forloop.counter0|divisibleby:2 %} <div class="row"> {% endif %}
                                <div class="w-50" style="text-align: center">
                                    <a href="{{phone.name_slug}}">{{phone.name}}</a>
                                    <p>Стоимость: {{phone.price}} р.</p>
                                    <p><img src="{{phone.image}}" /></p>
                                </div>
                            {% if not forloop.counter0|divisibleby:2 %} </div> {% endif %}
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}