{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Телефон {{ phone.name }}</h1>
        </div>
        <div class="content">
            <table class="table">
  <thead>
    <tr>
      <th scope="col">Имя</th>
      <th scope="col">Дата выхода</th>
      <th scope="col">Наличие LTE</th>
      <th scope="col">Цена</th>
        <th scope="col">Фото</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>{{phone.name_slug}}</td>
        <td>{{phone.release_date}}</td>
        <td>{{phone.lte_exists}}</td>
        <td>{{phone.price}}</td>
        <td><img src="{{phone.image}}" /></td>
    </tr>

  </tbody>
</table>

        </div>
    </div>
{% endblock %}