<!DOCTYPE html>{% load my_check_empty my_get_color %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
{% block content %}
<div class="row">
    <h1 class="col s12">Инфляция в России</h1>
    <div class="col s12 m8">

        <!-- Ваша логика -->
        <table class="u-full-width">
            <tr style="font-weight:bold">
                {% for header in inflation_russia.fieldnames%}
                <td>{{header}}</td>
                {%endfor%}
            </tr>
            </tr>
            {% for row in inflation_russia%}
            <tr>
                {% for key, value in row.items %}
                    {% if key == 'Год' %}
                        <td style="background-color: white">{{value|my_check_empty}}</td>
                    {%elif key == 'Суммарная' %}
                        <td style="background-color: silver">{{value|my_check_empty}}</td>
                    {%else%}
                        <td style="background-color: {{value|my_get_color}}">{{value|my_check_empty}}</td>
                   {%endif%}
                {%endfor%}
            </tr>
            {%endfor%}
        </table>

    </div>
</div>
{% endblock %}

</body>
</html>