{% extends "articles/base.html" %}
{% load static check_is_main%}

{% block title %}Новости{% endblock %}
{% block content %}
<div class="row">
  {% for article in object_list %}
  <div class="col-lg-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% get_media_prefix %}{{ article.image }}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{ article.title }}</a>
        </h4>
        <p class="card-text">{{ article.text }}</p>
        {% for scope in article.scope.all %}
          <span class="badge {% if scope|check_is_main:article %}badge-primary{% else %}badge-secondary{% endif %}">{{ scope.name }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}